<h1>Editing User</h1>
<ul>
  <%= render 'form' %>

  <li><%= link_to 'Show', @user %> </li>
  <li><%= link_to 'Delete', @user,method: :delete %></li>
  <li><%= link_to 'Back', users_path %></li>
</ul>


