<!DOCTYPE html>
<html>
  <head>
    <title>CaronUFF || Sobre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'welcome', media: 'all'%>
    <%= javascript_pack_tag 'welcome' %>
  </head>
  <body>

  </body>
</html>