<!DOCTYPE HTML>
<html>
  <head>
    <title>CaronUFF</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'welcome', media: 'all'%>
    <%= javascript_pack_tag 'welcome' %>
  </head>
  <body>
    <header class="header">
      <a href="/">
        Logo CaronUFF
      </a>
      <nav>
        <ul class="menu">
          <li><a href="https://app.uff.br/hrm/trabalhe_conosco"> Trabalhe conosco </a></li>
          <li><a href=""> Sobre</a> </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
